div.container{
	background-color: red;
	text-align: center;
	width: 1255px;
	height: 500px;
}
div.kotak{
	background-color: lightyellow;
	width: 259px;
	height: 150px;
	position: absolute;
	padding-left: -800px;
	padding-top: -800px;
	margin-left: 500px;
}
